{% extends 'base_admin.html' %}

{% block title %}Add New Event{% endblock %}

{% block content %}

<body>
    <div class="bg-contact2" style="background-image: url('/static/Event_img.jpg')">
        <div class="main">
            <center>
                <form id="contact" action="{% url 'addevent' %}" , method="post">
                    {% csrf_token %}
                    <!-- used to keep forms safe from hackers or smth like that-->
                    <h1>Add Event</h1>
                    <table>
                        {% for field in form %}
                        <tr>
                            <th>
                                <label for="{{field.id_for_label}}" class="label">{{field.html_name}}</label>
                            </th>
                            <th>{{field}}</th>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <button class="button1" type="submit">ADD EVENT</button>
                    <br>
                </form>
        </div>
    </div>
</body>

{% endblock %}